Flask==3.1.0
flask-cors==6.0.0
Flask-Limiter==3.12
gunicorn==23.0.0
tensorflow==2.18.0
numpy==2.0.2
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.14.1
joblib==1.5.0
opencv-python-headless==4.9.0.80
Pillow==11.0.0
mysql-connector-python==9.3.0
python-dotenv==1.1.1
matplotlib==3.10.3
seaborn==0.13.2
xgboost==2.1.2
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
gdown==5.2.0
